.infobox {
    padding-bottom: 0;
    margin-bottom: 0;
}

.credits, .downloads {
    font-size: smaller;
    text-align: left;
}

.credits ul {
  display: inline;
  list-style: none;
  padding-left: 0;
}

.credits li {
    display: inline;
}

.credits ul li:not(:last-child):after {
    content: ", ";
}

hr.separator {
  margin: 100px 0;
}

hr.separator:after {
  content: "🙙";
  font-size: 1.75em;
  color: black;
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  /* Controls the whitespace around the symbol */
  padding: 40px;
  background: #fdfdfd;
}

footer {
    font-size: smaller;
}
