/* Color customisations */
:root {
    --heading-text: #8d308b !important;
    --tocsidebar-heading-text: #444 !important;
}

/* Head div customisations */

div.head {
    display: flex;
    flex-direction: column;
}

div.head h1.title {
    order: 1;
}

div.head p#w3c-state {
    order: 2;
    margin-bottom: 0;
}

div.head p.logos {
    order: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0 2rem 0;
}

div.head details {
    order: 4;
}

div.head p.copyright {
    order: 5;
}

div.head hr {
    order: 6;
    width: 100%;
    border-style: solid;
}

/* Table customisations */

div.nordic-table-wrapper {
    with: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0.3rem 0.5rem;
    vertical-align: top;
    text-align: left;
    border: thin solid #e5e7eb;
}

/* Code examples customisations */

pre code {
    white-space: pre-wrap;
    word-break: break-word;  
}
